/* table {
    border-collapse: collapse;
    width: 80%;
    float: right;
} */

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#menu {
    width: 20%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #2c3e50;
    padding-top: 20px;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se necessário */
}

#menu ul {
    list-style: none;
    /* Removendo a marcação de lista */
    padding: 0;
}

#menu li {
    margin-bottom: 10px;
}

#menu a {
    display: block;
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

#menu a:hover {
    background-color: #34495e;
    /* Cor de destaque ao passar o mouse */
}

.conteudo {
    width: 80%;
    border-collapse: collapse;
    float: right;
    text-align: center;
}

.submenu {
    cursor: pointer;
    margin-left: 15px;
    display: none;
    transition: max-height 0.3s ease-out;
    max-height: 0;
}

.submenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.submenu ul li {
    transition: background-color 0.3s;
}


.message-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}

.message-card p {
    margin: 0;
    color: #333;
}

.message-card.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.message-card.error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

form {
    margin: 50px auto;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

select {
    appearance: none;
}

button[type="submit"] {
    position: relative;
    left: 40vh;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#valorProduto {
    font-family: monospace;
}
.form-container {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    flex: 1 1 30%; /* Distribui igualmente o espaço entre os elementos */
}

.button-submit {
    flex: 1 1 100%; /* Estende o botão para ocupar toda a largura da linha */
    margin-top: 20px; /* Adiciona margem acima do botão */
}
